<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema agendamentos</title>
    <style>
        body{
            
            background-color: pink;
        }

        .inicio{
            background-color: white;
            width: 40%;
            height: 300px;
            margin: auto;
            text-align:center;
            
            border-radius: 20px;
        }
        button{
            padding: 6px;
            text-align: left;
            
        }


    </style>
</head>

<body>
    <div class="inicio">
        <h2>Seja bem vinda!</h2>
        <p>Clique no botão abaixo para iniciar o agendamento!</p>
        <button>Agendar</button>
    </div>

</body>
</html>